
footer {
	background: #373836;
	padding: 80px 0 40px;
	color: #5A5A5A;

	b {
		text-transform: uppercase;
		font-size: 13px;
		margin-bottom: 30px;
		display: inline-block;
	}

	@include bp(xs) {
		text-align:center;

		//.col-xs-12 { width: 100%;max-width:100%;flex:none; }
	}

	.footer{
		&__logo {
			margin-top: 10px;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
		&__copy {
			margin-top: 50px;
			font-size: 12px;
		}

		&__social,
		&__contact {

			a {
				position: relative;
				padding-left: 25px;
				&::before {
					position: absolute;
					top: 3px;
					left: 0;
					width: 18px;
					height: 16px;
					content: ' ';
					background-image: url(../img/sprites-16x.png);
				}

			}
		}

		&__social {
			&--ln::before {
				background-position: 0 0;
			}

			&--fb::before {
				background-position: 50px 1px;
				width: 8px !important;
				left: 4px !important;
			}
		}

		&__contact {
			&--phone::before {
				background-position: -32px 0;
			}

			&--mail::before {
				background-position: -128px 0;
			}
		}

		&__meni {
			@include bp(xs) {
				width: 100%;
			}
			@include bp(sm) {
				float: left;
				margin-right: 30px;
			}

			@include bp(md) {
				margin-right: 70px;
			}

			&:last-child {
				margin-right: 0;
			}

			ul {
				list-style: none;
				padding: 0;

				li {
					margin-bottom: 15px;
				}
			}
		}
	}



	a {
		color: $white;

		&::after {
			display:block;
			content: '';
			border-bottom: solid 2px $primary;
			transform: scaleX(0);
			transform-origin:  0% 50%;
			transition: transform 250ms ease-in-out;
		}

		&:hover {
			text-decoration: none;
			&::after { transform: scaleX(1); }
		}

		&.router-link-exact-active {
			&::after { transform: scaleX(1); }
		}
	}
}