.header__logo {
	@include bp(sm-down) {
		margin: 0 auto;
		width: 300px;
		margin-bottom: 20px;
		display: block;
	}
}



.header {
	padding-top: 40px;
	min-height: 217px;

	@include svg-bg(header-top-left,png, transparent, left top);

	&__logo {
		display: inline-block;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	&__logo_white_head_img,
	&__logo_black_img {
		display: none;
	}

	&__meni {
		float:right;

		@include bp(sm-down) {
			float: none;
			text-align:center;
			padding: 0;
		}

		li {
			display: inline-block;
			list-style: none;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			@include bp(sm) {
				float: left;
			}

			a {
				font-weight:bold;
				font-size: 16px;
				line-height: 45px;
				color: $black;
				padding: 0 10px;

				&::after {
					display:block;
					content: '';
					border-bottom: solid 3px lighten($primary, 50%);
					transform: scaleX(0);
					transition: transform 250ms ease-in-out;
				}

				&:hover {
					text-decoration: none;
					&::after { transform: scaleX(1); }
				}

				&.router-link-exact-active {
					&::after { transform: scaleX(1); }
				}

				@include bp(md) {
					padding: 0 15px;
				}
			}
			&.phone {
				background: lighten($primary, 50%);
				transition: background .2s ease-in-out;

				@include bp(xs) {
					display:none;
				}

				&:hover {
					background: lighten($primary, 40%);;
				}

				a {
					color: $primary;
					font-weight: normal;
					padding: 0 10px;
					position: relative;

					&::after {
						display: none;
					}

					@include bp(md) {
						padding: 0 20px 0 50px;
						&::before {
							position: absolute;
							top: 13px;
							left: 20px;
							width: 17px;
							height: 16px;
							content: ' ';
							background-image: url(../img/sprites-16x.png);
							background-position: -96px 0;
						}
					}
				}
			}
		}
	}
}