.services {
	h2 {
		font-size: 20px;
		color: $white;
		margin-bottom: 30px;
	}

	p {
		color: rgba(255,255,255, .7);
		font-size: 16px;
		line-height: 25px;
	}

	&__box {
		height: 100%;
		padding: 30px;
		padding-top: 140px;
		background-repeat: no-repeat;
		background-position: 30px 30px;
	}

	&--grey {
		background-image: url(../img/icons/service1.png);
		background-color: #323232;
	}
	&--black {
		background-image: url(../img/icons/service2.png);
		background-color: #111110;
	}
	&--green {
		background-image: url(../img/icons/service3.png);
		background-color: $primary;
	}
}
.projects {
	padding: 120px 0;
	@include svg-bg(middle_bg1,png, transparent, center 50px);
	background-size: cover;

	h3 {
		text-align: center;
		font-size: 40px;
		margin-bottom: 80px;
	}

	&__project {
		padding: 20px 30px;
		background-repeat: no-repeat;
		background-position: center center;
		transition: opacity .1s ease-in;
		position: relative;
		display: block;

		@include bp(xs) {
			margin-bottom: 20px;
			color: $white;

			b {
				position: absolute;
				width: 100%;
				text-align:center;
				top: 50%;
				margin-top: -21px;
				left: 0;
				color: $white !important;
			}

			&::before {
				position:absolute;
				width: 100%;
				height: 100%;
				content: ' ';
				top:0;
				left:0;
				background-color: rgba(0, 0, 0, .6);
			}
		}

		@include bp(md) {
			background-position: right bottom;
		}

		b {
			font-size: 28px;
			color: $white;
			&.black { color: $black; }
		}

		&:hover {
			opacity: .8;
		}
	}

	&__left {

		@include bp(md-down) {
			background-size: 95%;
			background-position: right bottom;
			min-height: 430px;
		}

		@include bp(xs) {
			min-height: 200px;
		}

		@include bp(md) {
			background-size: 98%;
			min-height: 510px;
		}

		@include bp(lg) {
			min-height: 600px;
		}

		&_img {
			position: absolute;
			right:0;
			bottom:0;
			width:80%;
			height: 80%;
			box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
			background-repeat: no-repeat;
			background-position: left -31px;
		}
	}

	&__right {
		min-height: 300px;
		margin-bottom: 30px;
		@include bp(md-down) {
			background-size: 90%;
			background-position: right bottom;
			min-height: 200px
		}

		@include bp(md) {
			min-height: 240px;
			background-size: 92%;
		}

		@include bp(lg) {
			min-height: 285px;
		}
	}
}

.partners {
	h3 {
		text-align: center;
		font-size: 40px;
		margin-bottom: 80px;
	}

	&__partner {
		min-height: 85px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 50%;
		background-color: #fff;
		border: 1px solid #f1f1f1;

		&:not(:last-child) {
			border-right: 0;
		}

		@include bp(xs) {
			background-size: 30%;
			&:not(:last-child) {
				border-bottom: 0;
			}
		}

		@include bp(lg) {
			background-size: 30%;
		}
	}
}

.testimonials,
.cta__bottom,
.hero,
.services,
.projects,
.partners {
	padding: 0 0 80px;

}

.top-bg {
	@include svg-bg(header-bg, png, transparent, right top);
	background-size: cover;
}